.settings-slidebar {
  position: fixed;
  display: inline-block;
  background-color: gray;
  width: 300px;
  height: 100%;
  transition: all 0.3s ease-in-out;
  padding: 1rem;
  right: -300px;

  h2 {
    margin-bottom: 2rem;
  }

  .settings__item {
    margin-bottom: 1rem;
  }

  // input {
  //   height: 24px;
  //   width: 250px;
  // }

  // NUMBER INPUT
  /* Chrome, Safari, Edge, Opera */
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  input[type=number] {
    -moz-appearance: textfield;
  }

  // NUMBER INPUT END


  .settings__radio {
    display: flex;
    gap: 12px;
  }


  input[type=submit] {
    cursor: pointer;
    width: 100%;
    padding: 1rem 1rem;
    border-radius: 6px;
    border: none;
  }

}