.settingsSlidebar {
  position: fixed;
  display: inline-block;
  background-color: gray;
  width: 400px;
  height: 100%;
  transition: all 0.3s ease-in-out;
  padding: 1rem;

  h2 {
    margin-bottom: 2rem;
  }

  .settingsItem {
    margin-bottom: 1rem;
  }

  label {
    margin-right: 0.5rem;
  }

  input {
    height: 24px;
    width: 250px;
  }

  /* Chrome, Safari, Edge, Opera */
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  input[type=number] {
    -moz-appearance: textfield;
  }

}

.settings-shown {
  right: 0px;
}

.settings-not-shown {
  right: -400px;
}