.Timer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 400px;
  margin: auto;

  .timer__container {
    width: 230px;
  }

  .focus-question {
    color: #d6d6d6;
    margin-top: 2rem;
    font-size: 22px;
    font-family: var(--fontStyle);
    margin-bottom: 2rem;
    width: 100%;
    text-align: center;
    transition: all 0.3s ease-in-out;
  }

  .focus-question-warning {
    color: #7d1710;
    transform: scale(1.1);
  }

  .control-button {
    margin-bottom: 2rem;
    color: #d6d6d6;
    cursor: pointer;
    font-size: 24px;
    transition: all 0.3s ease-in-out;

    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;

    &:hover {
      transform: scale(1.1);

    }
  }

  .button__icon {
    color: #d6d6d6;
    margin-right: 0.5rem;
  }

  .mode__container {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .mode__item {
    flex: 1;
    display: flex;
    align-items: center;
    flex-direction: column;
    transition: all 0.3s ease-in-out;

    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;

    span {
      color: #d0d0d0BB;
      cursor: pointer;
      transition: color 0.3s ease-in-out;
    }

    .mode__icon {
      font-size: 22px;
      color: #d0d0d0BB;
      cursor: pointer;
      transition: color 0.3s ease-in-out;
    }

    &:hover {
      transform: scale(1.1);
    }

    &:hover .mode__icon,
    &:hover span {
      color: #d6d6d6;

    }
  }

  .chosen-timemode-scale {
    transform: scale(1.1);

    span,
    .mode__icon {
      color: #d6d6d6;
    }

  }
}