@import './variables';

@import './components/SettingsButton/SettingsButton';
@import './components/SettingsSlidebar/SettingsSlidebar';
@import './components/Timer/Timer';
@import './components/RadioButton/RadioButton';

.App {
  background-color: var(--themeColor);
  transition: background-color 0.3s ease-in-out;
}

.settings-shown {
  transform: translateX(-300px);
}